.MainS2 {
  background-image: url("/public/image/webbanner-3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 650px;
}
.heading {
  width: 650px;
  font-size: 50px;
  position: relative;
  top: 50px;
  left: 70px;
}
.sale {
  color: aqua;
  font-size: 100px;
}
.buy {
  background-color: black;
  color: white;
  width: 150px;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  left: 75px;
  top: 70px;
}
