.favouriteContainer {
  margin: 20px;
  text-align: center;
  margin-bottom: 100px;
}
.h1 {
  color: #fff;
}
.wishlistEmpty {
  color: grey;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 250px 0px;
}
.wishlistItems {
  color: orange;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  position: relative;
  left: 270px;
  font-size: 30px;
  margin-bottom: 20px;
}
